@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


.card{
    width: 133.25px;
    height: 142px;
    border-left: 1px solid #D8D8D8;
}

.card:first-child{
    border-left: 0;
}

.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 20px;
}

.img{
    text-align: center;
    margin-top: 12px;
    height: 50px;
}

.temp {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}